
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
#board {
  display: inline-block;
  border: 1px solid #000000;
  width: 640px;
  height: 640px;
}
#promote-to {
	-webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
  position:absolute; 
  bottom: 20px;
}
h1, h3 {
  margin: 0px;
  font-family:sans-serif;
  color: #9999a2
}
body, select {
-webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
  background-color: #111320;
  font-family: 'Rubik', sans-serif;
  color: #bbc2dd;
  font-size: 40px;
}
svg {
	display:none;
}
#boardOverlay {
	-webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
  font-family: 'Rubik', sans-serif;
  background-color: #111320cc;
  position: absolute;
  color: #bbc2dd;
  font-size: 40px;
  
  text-align: center;
  visibility: "hidden";
  top: 9px; 
  left: 9px;
  width: 640px;
  height: 640px;
}
#boardOverlay a {
	-webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
  font-family: 'Rubik', sans-serif;
  color: #cccccc;
  font-size: 40px;
}
